<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Family_Task_Tracker"
        tools:targetApi="31">
        <activity
            android:name=".Text_parent_task"
            android:exported="false"
            android:theme = "@style/Text_parent_task"/>
        <activity
            android:name=".Active_tasks"
            android:exported="false" />
        <activity
            android:name=".Entering_marafon"
            android:exported="false"
            android:theme="@style/Entering_marafon" />
        <activity
            android:name=".Link_parent"
            android:exported="false" />
        <activity
            android:name=".Text_task"
            android:exported="false"
            android:theme="@style/Text_task" />
        <activity
            android:name=".Entering_daily_tasks"
            android:exported="false"
            android:theme="@style/Daily_tasks" />
        <activity
            android:name=".Entering_bonus_task"
            android:exported="false"
            android:theme="@style/Entering_bonus" />
        <activity
            android:name=".Child_account"
            android:exported="false" />
        <activity
            android:name=".Parent_account"
            android:exported="false" />
        <activity
            android:name=".Role_choosing"
            android:exported="false" />
        <activity
            android:name=".RegistrActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>